body {
    margin: 0;
    padding: 0;
}

.col8 {
    margin-top: 20px;
}

.sectech {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(to right, #dee3e6, transparent);
    padding-left: 10px;
}

.logo_parceiro {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.logo_parceiro:hover {
    border: 2px solid rgb(190, 162, 162);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px;
}

.ultimas {
    background-image: linear-gradient(to right, #c5cace, transparent);
    padding-left: 10px;
}

.img_seguranca {
    border-radius: 20px;
}

.logo-img {
    height: 250px;
    width: 250px;
    border-radius: 10px;
}

.logo-img-g {
    height: 430px;
    width: 430px;
    border-radius: 10px;
}
h4 {
    background-image: linear-gradient(to right, #c5cace, transparent);
    padding-left: 10px;
}

.teste1 {
    display: flex;
}

.teste2 {
    display: flex;
}

.teste3 {
    display: flex;
}

.text {
    width: 300px;
}